<div>
	<img ng-src="{{imageUrl}}" alt="{{name}}" />
	<button type="button" class="btn btn-primary" ng-click="reload()">Reload</button>
	<div class="row">
		<div class="span11">
			<h2 ng-class="myclass" ng-bind-template="{{ name | uppercase}}"></h2>
		</div>
	</div>

	<button class="btn" ng-disabled="true">Disable</button>

	<h2 ng-show="boolValue">Show this</h2>
	<h2 ng-hide="boolValue">Hide this</h2>

	<div class="row">
		<div class="span3">
			<div><strong>Date:</strong> {{ date | date:'mediumDate' }}</div>
			<div><strong>Time:</strong> {{ time }}</div>
		</div>
		<div class="span4">
			<address>
				<strong>Address:</strong>
				<br/> {{location.address}}
				<br/> {{location.city}}, {{location.province}}
			</address>
		</div>
	</div>
</div>