<div style="padding: 0 20px 0 20px;">
    <event-detail
        image-url="event.imageUrl"
        event-name="event.name"
        event-date="event.date"
        event-time="event.time"
        event-location="event.location"
        reload-action="reload()">
    </event-detail>

    <hr/>

    <h3>Sessions</h3>
    Order by:
    <select ng-model="sortorder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
    </select> Show:
    <select ng-model="q.level" class="input-small">
        <option selected value="">All</option>
        <option value="introductory">Introductory</option>
        <option value="intermediate">intermediate</option>
        <option value="advanced">Advanced</option>
    </select>
    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions| orderBy:sortorder | filter:q" id="session{{session.id}}">
            <div class="row session">
                <upvote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count="session.upVoteCount" ></upvote>
                <session-thumbnail 
                    name="session.name"
                    creator-name="session.creatorName"
                    duration="session.duration"
                    level="session.level"
                    abstract="session.abstract">
                </session-thumbnail>
            </div>
        </li>
    </ul>
</div>